html,body,div,span,applet,object,iframe,h1,h2,section,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}



html,body {
    padding: 0;
    margin: 0;
    background: black;
}

html {
    font-size: 1.15em;
}

body {
    font-family: "Roboto Mono", "Helvetica Neue", "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    line-height: 1.4em;
}

h1,h2,h3,h4 {
    font-size: 1em;
    font-weight: 400;
    color: white;
}

h1:not(:first-child),h2:not(:first-child),h3:not(:first-child),h4:not(:first-child) {
    margin-top: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    -moz-transition: color, 200ms, linear 1s;
    -o-transition: color, 200ms, linear 1s;
    -webkit-transition: color, 200ms, linear 1s;
    transition: color 200ms linear 1s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

a,a:visited {
    color: rgba(255,255,255,0.5);
}

a.active {
    color: white;
}

a:not(.active):hover {
    color: rgba(255,255,255,0.75);
}

*::-moz-selection {
    background-color: #F44336; color: rgba(255,255,255,0.8);
}
*::selection {
    background-color: #F44336; color: rgba(255,255,255,0.8);
}

header.site-header {
    position: fixed;
    top: 2.5%;
    right: 5%;
    left: 5%;
    z-index: 10000;
}

@media screen and (max-width: 768px) {
    header.site-header {
        left: 4%;
        right: 4%;
        top: 4%;
    }
}

header.site-header .header-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

header.site-header a.title,header.site-header nav {
    flex-basis: 40%;
}

header.site-header a.title h1 {
    background-image: url(../img/back.png);
    background-position: 0% center;
    background-repeat: no-repeat;
    width: 200px;
    height: 14px;
    background-size: 100%;
    text-indent: -99999em;
}

header.site-header a.logo {
    background-position: center center;
    background-repeat: no-repeat;
    width: 88px;
    height: 113px;
    background-size: 100%;
}

header.site-header nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

header.site-header nav ul a {
    padding: 0.5em;
}

header.site-header nav ul li:last-child a {
    margin-right: -0.5em;
}

@media screen and (max-width: 768px) {
    header.site-header a.title h1 {
        width: 110px;
        width: calc(100px + 14vw);
        max-width: 34vw;
    }

    header.site-header a.logo {
        width: 11.5vw;
        height: calc(11.5vw * 64/50);
        min-width: 44px;
        min-height: calc(44px * 64/50);
    }

    header.site-header nav {
        font-size: 13px;
        font-size: calc(7px + 2vw);
    }
}

footer.site-footer {
    font-size: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

footer.site-footer ul.social-links {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

footer.site-footer ul.social-links li {
    margin-left: 1em;
}

footer.site-footer ul.social-links a {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999em;
    opacity: 0.5;
    -moz-transition: opacity, 200ms, linear 1s;
    -o-transition: opacity, 200ms, linear 1s;
    -webkit-transition: opacity, 200ms, linear 1s;
    transition: opacity 200ms linear 1s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

footer.site-footer ul.social-links a:hover {
    opacity: 0.75;
}

footer.site-footer ul.social-links a.email {
    background-image: url(../images/icon-email@2x-17f0fed5.png);
    width: 23px;
    height: 24px;
}

footer.site-footer ul.social-links a.twitter {
    background-image: url(../images/icon-twitter@2x-006545b9.png);
    width: 30px;
    height: 24px;
}

footer.site-footer ul.social-links a.facebook {
    background-image: url(../images/icon-facebook@2x-b2a347f4.png);
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 768px) {
    footer.site-footer ul.social-links a.email {
        width: 15px;
    }

    footer.site-footer ul.social-links a.twitter {
        width: 15px;
    }

    footer.site-footer ul.social-links a.facebook {
        width: 15.625px;
    }
}

@media screen and (max-width: 768px) {
    footer.site-footer {
        font-size: 15px;
    }
}

section {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

section:not(:last-child):not(.disable-click-to-advance) {
    cursor: s-resize;
}

section:not(:first-child):not(:last-child) {
    min-height: 104vh;
}

section footer {
    z-index: 1000;
    position: relative;
}

section .section-background {
    opacity: 0.8;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

section .section-background img,section .section-background source {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.has-bg.loading .section-background {
    opacity: 0;
}

section.has-bg.loaded .section-background {
    -moz-transition: ease-out 500ms opacity;
    -o-transition: ease-out 500ms opacity;
    -webkit-transition: ease-out 500ms opacity;
    transition: ease-out 500ms opacity;
    opacity: 0.8;
}

section#intro {
    height: 98vh;
    min-height: 98vh;
}

@media screen and (max-width: 768px) {
    section#intro {
        height: 84vh;
        min-height: 84vh;
    }
}

section#intro h2 {
    margin-bottom: 0.5em;
    font-weight: 400;
}

.section-footer {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

.section-footer a,.section-footer a:hover {
    color: rgba(255,255,255,0.5);
}

.section-footer a h2::after {
    content: "→";
    opacity: 0;
    -moz-transition: opacity, 200ms, linear 1s;
    -o-transition: opacity, 200ms, linear 1s;
    -webkit-transition: opacity, 200ms, linear 1s;
    transition: opacity 200ms linear 1s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.section-footer a h2:hover::after {
    opacity: 1;
}

.section-footer h2 {
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 0.12em;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .section-footer h2 {
        font-size: 48px;
    }
}

.section-footer p {
    margin-left: 0.05em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: left;
}

.section-footer p .description,.section-footer p .description:hover {
    color: rgba(255,255,255,0.6);
}

.section-footer p .link {
    -moz-transition: color, 200ms, linear 1s;
    -o-transition: color, 200ms, linear 1s;
    -webkit-transition: color, 200ms, linear 1s;
    transition: color 200ms linear 1s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.section-footer p .link:hover {
    color: rgba(255,255,255,0.75);
}

@media screen and (min-width: 768px) {
    .section-footer p {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .section-footer p span {
        color: rgba(255,255,255,0.6);
    }

    .section-footer p .link {
        color: rgba(255,255,255,0.4);
        font-size: 16px;
    }
}

body.index .site-header a.software:not(.interpage-link-handling-active),body.about .site-header a.about:not(.interpage-link-handling-active) {
    color: white;
}

body.fixed-section-footers section.has-fixed-footer footer.section-footer {
    position: fixed;
    bottom: 7%;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 768px) {
    body.fixed-section-footers section.has-fixed-footer footer.section-footer {
        bottom: 3%;
    }
}

body.fixed-section-footers section.active-section footer.section-footer {
    pointer-events: all;
    opacity: 1;
}

body.fixed-section-footers.fixed-section-footers-ready section footer.section-footer {
    -moz-transition: opacity, 200ms, linear 1s;
    -o-transition: opacity, 200ms, linear 1s;
    -webkit-transition: opacity, 200ms, linear 1s;
    transition: opacity 200ms linear 1s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

section.about#content .section-content {
    font-family: "Roboto", "Helvetica Neue", "Lucida Grande", sans-serif;
    background: white;
    padding: 0 5vw;
    max-width: 688px;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 5% auto 10%;
    line-height: 1.7;
    color: rgba(0,0,0,0.8);
    font-size: 1.15em;
}

@media screen and (max-width: 768px) {
    section.about#content .section-content {
        font-size: 0.8em;
    }
}

section.about#content .section-content a {
    color: #F44336;
}

section.about#content .section-content a:hover {
    color: #111111;
}

section.about#content .section-content p,section.about#content .section-content ul {
    margin: 1.6em 0;
}

section.about#content .section-content p:first-child,section.about#content .section-content ul:first-child {
    margin-top: 0;
}

section.about#content .section-content p:last-child,section.about#content .section-content ul:last-child {
    margin-bottom: 0;
}

section.about#content .section-content ul.press-list {
    color: #befffa;
}

section.about#content .section-content h2 {
    font-family: "Roboto Mono", "Helvetica Neue", "Lucida Grande", sans-serif;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 1em 0;
}

section.about#content .section-content h3 {
    color: inherit;
    text-transform: uppercase;
    font-weight: 400;
}


html.no-object-fit section.has-bg picture.section-background {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

html.no-object-fit section.has-bg picture.section-background img,html.no-object-fit section.has-bg picture.section-background source {
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: auto;
}